# Spatial Analysis in Geology using R

## by Pedro Nogueira

## 4. Data cleaning and manipulation

In [1]:
#04-01

x = c(1, 2, 3)

class(x)

[1] "numeric"

In [2]:
#04-02

# Create a data frame named df
df = data.frame(mineral_name = c("quartz","K feldspar"), hardness = c(7, 6))

str(df)

'data.frame':	2 obs. of  2 variables:
 $ mineral_name: chr  "quartz" "K feldspar"
 $ hardness    : num  7 6

In [3]:
#04-03
x = c(1, 2, 3)

typeof(x)

[1] "double"

In [4]:
#04-04
x = c(1, 2, 3)

length(x)

[1] 3

In [5]:
#04-05
# Create a data frame named df
df = data.frame(mineral_name = c("quartz","K feldspar"), hardness = c(7, 6))


# Verify its attributes
attributes(df)

$names
[1] "mineral_name" "hardness"

$class
[1] "data.frame"

$row.names
[1] 1 2

In [6]:
#04-06
# Generate some artificial data
set.seed(1)
data = data.frame(x = rnorm(100), y = rnorm(100), z = rnorm(100))

# Subset the data to keep only observations where x is greater than 0
data_subset = data[data$x > 0, ]

In [7]:
#04-07
# summarise all the data
summary(data)

# summarise the subset of the data
summary(data_subset)

       x                 y                  z
 Min.   :-2.2147   Min.   :-1.91436   Min.   :-2.888921
 1st Qu.:-0.4942   1st Qu.:-0.65105   1st Qu.:-0.455149
 Median : 0.1139   Median :-0.17722   Median :-0.001606
 Mean   : 0.1089   Mean   :-0.03781   Mean   : 0.029673
 3rd Qu.: 0.6915   3rd Qu.: 0.50090   3rd Qu.: 0.698491
 Max.   : 2.4016   Max.   : 2.30798   Max.   : 2.649167

       x                  y                  z
 Min.   :0.001105   Min.   :-1.66497   Min.   :-2.285236
 1st Qu.:0.374432   1st Qu.:-0.49535   1st Qu.:-0.637936
 Median :0.615276   Median :-0.04581   Median :-0.001606
 Mean   :0.764452   Mean   : 0.05321   Mean   :-0.012721
 3rd Qu.:1.090794   3rd Qu.: 0.51431   3rd Qu.: 0.660860
 Max.   :2.401618   Max.   : 2.30798   Max.   : 1.778429

In [9]:
#04-08
# Load the dplyr package
library(dplyr)

# Generate some artificial data
set.seed(1)
data = data.frame(x = rnorm(100), y = rnorm(100), z = rnorm(100))

# Subset the data to keep only observations where x is greater than 0
data_subset = filter(data, x > 0)

In [10]:
#04-07
# summarise all the data
summary(data)

# summarise the subset of the data
summary(data_subset)

       x                 y                  z
 Min.   :-2.2147   Min.   :-1.91436   Min.   :-2.888921
 1st Qu.:-0.4942   1st Qu.:-0.65105   1st Qu.:-0.455149
 Median : 0.1139   Median :-0.17722   Median :-0.001606
 Mean   : 0.1089   Mean   :-0.03781   Mean   : 0.029673
 3rd Qu.: 0.6915   3rd Qu.: 0.50090   3rd Qu.: 0.698491
 Max.   : 2.4016   Max.   : 2.30798   Max.   : 2.649167

       x                  y                  z
 Min.   :0.001105   Min.   :-1.66497   Min.   :-2.285236
 1st Qu.:0.374432   1st Qu.:-0.49535   1st Qu.:-0.637936
 Median :0.615276   Median :-0.04581   Median :-0.001606
 Mean   :0.764452   Mean   : 0.05321   Mean   :-0.012721
 3rd Qu.:1.090794   3rd Qu.: 0.51431   3rd Qu.: 0.660860
 Max.   :2.401618   Max.   : 2.30798   Max.   : 1.778429

In [13]:
#04-09
# Generate some artificial data
set.seed(1)
data = data.frame(x = rnorm(100), y = rnorm(100), z = rnorm(100), group = sample(c("A", "B", "C"), 100, replace = TRUE))

# Subset the data to keep only observations where x is greater than 0 and y is less than -0.5, and group is "A" or "B"
data_subset = filter(data, x > 0 & y < -0.5 & (group == "A" | group == "B"))

In [14]:
#04-07
# summarise all the data
summary(data)

# summarise the subset of the data
summary(data_subset)

       x                 y                  z                group
 Min.   :-2.2147   Min.   :-1.91436   Min.   :-2.888921   Length:100
 1st Qu.:-0.4942   1st Qu.:-0.65105   1st Qu.:-0.455149   Class :character
 Median : 0.1139   Median :-0.17722   Median :-0.001606   Mode  :character
 Mean   : 0.1089   Mean   :-0.03781   Mean   : 0.029673
 3rd Qu.: 0.6915   3rd Qu.: 0.50090   3rd Qu.: 0.698491
 Max.   : 2.4016   Max.   : 2.30798   Max.   : 2.649167

       x                y                 z              group
 Min.   :0.2671   Min.   :-1.6406   Min.   :-2.2852   Length:8
 1st Qu.:0.5012   1st Qu.:-1.2522   1st Qu.: 0.2167   Class :character
 Median :0.7254   Median :-1.0616   Median : 0.6899   Mode  :character
 Mean   :0.9167   Mean   :-1.0836   Mean   : 0.4273
 3rd Qu.:1.2670   3rd Qu.:-0.8775   3rd Qu.: 1.0519
 Max.   :1.9804   Max.   :-0.6546   Max.   : 1.7784

### 4.2.2. Subset text data

In [16]:
#04-10
# Create a sample data frame with 13 rock names
rock_df = data.frame(rocks = c("Granite", "Gneiss", "Limestone", "Sandstone", "Marble", "Granodiorite", "Schist", "Gabbro", "Granite Porphyry", "Dolomite", "Basalt", "Granite Gneiss"))

# Select only the rock names that start with "gran" using base R
base_select = rock_df[grep("^Gran", rock_df$rocks), ]

# View the result
base_select

[1] "Granite"          "Granodiorite"     "Granite Porphyry" "Granite Gneiss"

In [17]:
#04-11
# Load the dply and stringr package
library(dplyr)
library(stringr)

# Select only the rock names that start with "gran"
gran_select = filter(rock_df, str_detect(rocks, "^Gran"))

# View the result
gran_select

  rocks
1 Granite
2 Granodiorite
3 Granite Porphyry
4 Granite Gneiss

## 4..3. Missing values

In [18]:
#04-12
# Create the data
x = c(1, 2, NA, 4, 5)

# View the result
is.na(x)

[1] FALSE FALSE  TRUE FALSE FALSE

In [19]:
#04-13
# Create the data
y = data.frame(col1 = c(11, 12, NA, 14, 15), col2 = c(NA, 6, 7, 8, 9))

# View the result
na.omit(y)

  col1 col2
2 12   6
4 14   8
5 15   9

In [20]:
#04-14
# Create the data
x = c(1, 2, NA, 4, 5)

# View the result
mean(x, na.rm = TRUE)

[1] 3

In [21]:
#04-15
# Create the data frame
df = data.frame(x = c(1, 2, NA, 4, 5), y = c(NA, 2, 3, 4, NA))

# Impute NA values with 0
df[is.na(df)] = 0

# View the results
df

  x y
1 1 0
2 2 2
3 0 3
4 4 4
5 5 0

In [22]:
#04-16
# Create the data frame
df = data.frame(x = c(1, 2, NA, 4, 5), y = c(NA, 2, 3, 4, NA))

# Impute NA values with mean
df$x[is.na(df$x)] = mean(df$x, na.rm = TRUE)
df$y[is.na(df$y)] = mean(df$y, na.rm = TRUE)

# View the results
df

  x y
1 1 3
2 2 2
3 3 3
4 4 4
5 5 3

## 4.4. Transforming variables in R

In [23]:
#04-17
# create a vector of character values
char_vals = c("10", "15", "20", "25", "30")

# convert the character values to numeric using the as.numeric() function
num_vals = as.numeric(char_vals)

# view the result
num_vals

[1] 10 15 20 25 30

In [24]:
#04-18
# Create example data
minerals = data.frame(name = c("Apatite", "Calcite", "Feldspar", "Fluorite", "Gypsum", "Halite", "Muscovite", "Orthoclase", "Quartz", "Topaz", "Tourmaline", "Zircon"), hardness = c(5, 3, 6, 4, 2, 2.5, 3, 6, 7, 8, 7.5, 7.5))

# Convert hardness to categorical variable
minerals$hardness_cat = cut(minerals$hardness, breaks = c(-Inf, 3, 7, Inf), labels = c("soft", "medium", "hard"))

# View results
minerals

   name       hardness hardness_cat
1  Apatite    5.0      medium
2  Calcite    3.0      soft
3  Feldspar   6.0      medium
4  Fluorite   4.0      medium
5  Gypsum     2.0      soft
6  Halite     2.5      soft
7  Muscovite  3.0      soft
8  Orthoclase 6.0      medium
9  Quartz     7.0      medium
10 Topaz      8.0      hard
11 Tourmaline 7.5      hard
12 Zircon     7.5      hard

In [25]:
#04-19
rock_names = c("Granite", "Basalt", "Sandstone", "Limestone", "Granite", "Marble", "Shale", "Gneiss", "Schist", "Quartzite", "Basalt", "Sandstone")

# convert the rock_names variable to a numerical one
rock_numbers = as.numeric(as.factor(rock_names))

# view the results
rock_numbers

 [1] 3 1 7 4 3 5 9 2 8 6 1 7

In [26]:
#04-20/01
# Create a data frame
minerals = data.frame(mineral_names = c("Quartz", "Plagioclase", "Orthoclase", "Biotite", 
                                        "Muscovite", "Calcite", "Dolomite", "Magnetite"), 
                        mineral_color = c("Clear", "White", "Pink", "Black", "Green", "White", "White", "Black"), 
                      mineral_hardness = c(7, 6, 6, 2.5, 2.5, 3, 4, 5.5))

# View the result
minerals

  mineral_names mineral_color mineral_hardness
1 Quartz        Clear         7.0
2 Plagioclase   White         6.0
3 Orthoclase    Pink          6.0
4 Biotite       Black         2.5
5 Muscovite     Green         2.5
6 Calcite       White         3.0
7 Dolomite      White         4.0
8 Magnetite     Black         5.5

In [28]:
#04-20/02
# Append two more minerals to the data frame
new_minerals = data.frame(mineral_names = c("Hematite", "Galena"), 
                          mineral_color = c("Red", "Silver"), 
                          mineral_hardness = c(5.5, 2.5))

# Row bind
minerals_complete = rbind(minerals, new_minerals)

# View the results
new_minerals
minerals_complete

  mineral_names mineral_color mineral_hardness
1 Hematite      Red           5.5
2 Galena        Silver        2.5

   mineral_names mineral_color mineral_hardness
1  Quartz        Clear         7.0
2  Plagioclase   White         6.0
3  Orthoclase    Pink          6.0
4  Biotite       Black         2.5
5  Muscovite     Green         2.5
6  Calcite       White         3.0
7  Dolomite      White         4.0
8  Magnetite     Black         5.5
9  Hematite      Red           5.5
10 Galena        Silver        2.5

In [30]:
#04-21
# Create a data frame
minerals = data.frame(mineral_names = c("Quartz", "Plagioclase", "Orthoclase", "Biotite", "Muscovite", "Calcite", "Dolomite", "Magnetite"), 
                      mineral_color = c("Clear", "White", "Pink", "Black", "Green", "White", "White", "Black"), 
                      mineral_hardness = c(7, 6, 6, 2.5, 2.5, 3, 4, 5.5))

# Create a new data frame
new_minerals = data.frame(mineral_names = c("Hematite", "Galena"), 
                          mineral_color = c("Red", "Silver"), 
                          mineral_hardness = c(5.5, 2.5))

# Append two more minerals to the data frame
n1 = nrow(minerals) + 1
n2 = n1 + nrow(new_minerals) - 1
minerals[n1:n2,] = new_minerals

# View the results
minerals

   mineral_names mineral_color mineral_hardness
1  Quartz        Clear         7.0
2  Plagioclase   White         6.0
3  Orthoclase    Pink          6.0
4  Biotite       Black         2.5
5  Muscovite     Green         2.5
6  Calcite       White         3.0
7  Dolomite      White         4.0
8  Magnetite     Black         5.5
9  Hematite      Red           5.5
10 Galena        Silver        2.5

In [31]:
#04-22/01
# Create a data frame
minerals = data.frame(mineral_names = c("Quartz", "Plagioclase", "Orthoclase", "Biotite", "Muscovite", "Hornblende", "Garnet", "Feldspar"), 
                      mineral_color = c("Clear", "White", "Pink", "Black", "Green", "Black", "Red", "White"), 
                      mineral_hardness = c(7, 6, 6, 2.5, 2.5, 7, 6.5, 6))

# View the result
minerals

  mineral_names mineral_color mineral_hardness
1 Quartz        Clear         7.0
2 Plagioclase   White         6.0
3 Orthoclase    Pink          6.0
4 Biotite       Black         2.5
5 Muscovite     Green         2.5
6 Hornblende    Black         7.0
7 Garnet        Red           6.5
8 Feldspar      White         6.0

In [32]:
#04-22/02
# Create a new column of mineral density
mineral_density = c(2.65, 2.71, 2.54, 2.88, 2.83, 3.5, 4.2, 2.56)

# Append the new column to the existing data frame
minerals = cbind(minerals, mineral_density)

# View the result
minerals

  mineral_names mineral_color mineral_hardness mineral_density
1 Quartz        Clear         7.0              2.65
2 Plagioclase   White         6.0              2.71
3 Orthoclase    Pink          6.0              2.54
4 Biotite       Black         2.5              2.88
5 Muscovite     Green         2.5              2.83
6 Hornblende    Black         7.0              3.50
7 Garnet        Red           6.5              4.20
8 Feldspar      White         6.0              2.56

In [33]:
#04-22/03
# Append the new column to the existing data frame V2
minerals[,"mineral_density_v2"] = mineral_density

# Append the new column to the existing data frame V3
minerals$mineral_density_v3 = mineral_density

# View the result
minerals

  mineral_names mineral_color mineral_hardness mineral_density
1 Quartz        Clear         7.0              2.65
2 Plagioclase   White         6.0              2.71
3 Orthoclase    Pink          6.0              2.54
4 Biotite       Black         2.5              2.88
5 Muscovite     Green         2.5              2.83
6 Hornblende    Black         7.0              3.50
7 Garnet        Red           6.5              4.20
8 Feldspar      White         6.0              2.56
  mineral_density_v2 mineral_density_v3
1 2.65               2.65
2 2.71               2.71
3 2.54               2.54
4 2.88               2.88
5 2.83               2.83
6 3.50               3.50
7 4.20               4.20
8 2.56               2.56

## 4.5. Reshaping data

In [34]:
#04-23
# Create a data frame with 10 samples
df = data.frame(Sample_Number = 1:10, Mineral_name = c("Quartz", "Plagioclase", "Orthoclase", "Biotite", "Muscovite", "K-feldspar", "Hornblende", "Garnet", "Pyroxene", "Olivine"),
                Hardness = c(7, 6, 6, 2.5, 2.5, 6, 5, 7, 6, 7), 
                color = c("Clear", "White", "Pink", "Black", "Green", "Pink", "Black", "Red", "Green", "Yellow"), 
                density = c(2.65, 2.71, 2.54, 2.87, 2.83, 2.56, 3.5, 4.3, 3.3, 4.4))

# Transpose the data frame
df_transposed = t(df)

# View the result
df
df_transposed

   Sample_Number Mineral_name Hardness color  density
1   1            Quartz       7.0      Clear  2.65
2   2            Plagioclase  6.0      White  2.71
3   3            Orthoclase   6.0      Pink   2.54
4   4            Biotite      2.5      Black  2.87
5   5            Muscovite    2.5      Green  2.83
6   6            K-feldspar   6.0      Pink   2.56
7   7            Hornblende   5.0      Black  3.50
8   8            Garnet       7.0      Red    4.30
9   9            Pyroxene     6.0      Green  3.30
10 10            Olivine      7.0      Yellow 4.40

              [,1]   [,2]        [,3]       [,4]    [,5]      [,6]
Sample_Number  1      2           3          4       5         6
Mineral_name  Quartz Plagioclase Orthoclase Biotite Muscovite K-feldspar
Hardness      7.0    6.0         6.0        2.5     2.5       6.0
color         Clear  White       Pink       Black   Green     Pink
density       2.65   2.71        2.54       2.87    2.83      2.56
              [,7]       [,8]   [,9]     [,10]
Sample_Number  7          8      9       10
Mineral_name  Hornblende Garnet Pyroxene Olivine
Hardness      5.0        7.0    6.0      7.0
color         Black      Red    Green    Yellow
density       3.50       4.30   3.30     4.40

In [35]:
#04-24/01
# Create a data frame
df = data.frame(mineral_names = c("Quartz", "Plagioclase", "Orthoclase", "Biotite", "Muscovite"),
                hardness = c(7, 6, 6, 2.5, 2.5), color = c("Clear", "White", "Pink", "Black", "Green"))

# View the result
df

  mineral_names hardness color
1 Quartz        7.0      Clear
2 Plagioclase   6.0      White
3 Orthoclase    6.0      Pink
4 Biotite       2.5      Black
5 Muscovite     2.5      Green

In [36]:
#04-24/02
# Load the reshape2 package
library(tidyr)

# Convert the "hardness" column to character type
df$hardness = as.character(df$hardness)

# Convert the data frame to long format
df_long = pivot_longer(df, names_to = "Variable", cols = 2:3, values_to = "Value")

# View the result
df_long

   mineral_names Variable Value
1  Quartz        hardness 7
2  Quartz        color    Clear
3  Plagioclase   hardness 6
4  Plagioclase   color    White
5  Orthoclase    hardness 6
6  Orthoclase    color    Pink
7  Biotite       hardness 2.5
8  Biotite       color    Black
9  Muscovite     hardness 2.5
10 Muscovite     color    Green

In [37]:
#04-24/03
# Transform the data frame to wide format
df_wide = pivot_wider(df_long, names_from = Variable, values_from = Value )

# View the result
df_wide

  mineral_names hardness color
1 Quartz        7        Clear
2 Plagioclase   6        White
3 Orthoclase    6        Pink
4 Biotite       2.5      Black
5 Muscovite     2.5      Green