# Spatial Analysis in Geology using R

## by Pedro Nogueira

##  <span style="color:red;">5. Functions for everyday data analytics </span>

###  <span style="color:green;">5.1 Arrays and vectors </span>

In [22]:
#05-00
# Settings


# Print the R version information
print(R.version)

# Verify thw working directory
wd_base = getwd()
print(wd_base)

               _
platform       aarch64-apple-darwin20
arch           aarch64
os             darwin20
system         aarch64, darwin20
status
major          4
minor          3.1
year           2023
month          06
day            16
svn rev        84548
language       R
version.string R version 4.3.1 (2023-06-16)
nickname       Beagle Scouts
[1] "/Users/pnogasmacmini/Documents/Jupyter Notebooks"

In [6]:
#05-01/01
# Create the data
x = c(3, 1, 4, 2)

# View the result
sort(x)

[1] 1 2 3 4

In [3]:
#05-01/02
# Sort descending
sort(x, decreasing = TRUE)

[1] 4 3 2 1

### <span style="color:green;">5.2 Strings and texts </span>

In [7]:
#05-03
# Create the data
x = c("Granite", "Gabro", "Syenite")

# View the result
paste(x, collapse = " & ")

[1] "Granite & Gabro & Syenite"

In [8]:
#05-04
# Create the data
x = "Granodiorite"

# View the result
substr(x, 1, 5)

[1] "Grano"

In [9]:
#05-05
# Create the data
x = "Wehrlite Peridotite Troctolite"

# Substitute a sequence of character
gsub(" ", "_", x)

[1] "Wehrlite_Peridotite_Troctolite"

### <span style="color:green;">5.3 Data frame related functions </span>

In [10]:
#05-06/01
# Create the data
x = data.frame(a = c(1, 2, 3), b = c(4, 5, 6))

# Number of rows
nrow(x)

[1] 3

In [11]:
#05-06/02
# View the result
ncol(x)

[1] 2

In [12]:
#05-06/03
# View the header part
head(x, 2)

  a b
1 1 4
2 2 5

In [13]:
#05-06/04
# View the tail part
tail(x, 2)

  a b
2 2 5
3 3 6

In [14]:
#05-07/01
# Create the data
df = data.frame(mineral_name = c("Quartz", "Plagioclase", "Orthoclase"), 
                hardness = c(7, 6, 6), 
                color = c("Clear", "White", "Pink"))

In [15]:
#05-07/02
# View the names of the columns
colnames(df)

[1] "mineral_name" "hardness"     "color"

In [16]:
#05-07/03
# View the names of the rows
rownames(df)

[1] "1" "2" "3"

In [17]:
#05-07/04
# Define the rownames
rownames(df) = c ("Sample A", "Sample B", "Sample C")

# View the resulting data frame
head(df)

         mineral_name hardness color
Sample A Quartz       7        Clear
Sample B Plagioclase  6        White
Sample C Orthoclase   6        Pink

### <span style="color:green;">5.4 The apply() functions </span>

In [19]:
#05-08
# Create the data frame
minerals = data.frame(
name = c("Quartz", "Plagioclase", "Orthoclase", "Biotite", "Muscovite", "Galena", "Sphalerite", "Chalcopyrite"), 
    color = c("Clear", "White", "Pink", "Black", "Green", "Gray", "Yellow", "Green"), 
    hardness = c(7, 6, 6, 2.5, 2.5, 2.5, 4, 3.5), 
    density = c(2.65, 2.71, 2.54, 2.88, 2.83, 7.5, 4.1, 4.3))

# Calculate the mean density
mean_density = mean(minerals$density)

# Calculate the distance for each of the mineral densities from the mean
mineral_density_distance =
apply(minerals, 1, function(x) abs(as.numeric(x[4]) - mean_density))
      
# Add the resulting column to the minerals data frame
minerals$density_dist = mineral_density_distance
      
# Show the new data frame
minerals

  name         color  hardness density density_dist
1 Quartz       Clear  7.0      2.65    1.03875
2 Plagioclase  White  6.0      2.71    0.97875
3 Orthoclase   Pink   6.0      2.54    1.14875
4 Biotite      Black  2.5      2.88    0.80875
5 Muscovite    Green  2.5      2.83    0.85875
6 Galena       Gray   2.5      7.50    3.81125
7 Sphalerite   Yellow 4.0      4.10    0.41125
8 Chalcopyrite Green  3.5      4.30    0.61125

In [20]:
#05-09
# Use lapply to calculate a categorical variable.
minerals$dist_cat = lapply(minerals$density, function(x) {
    if (abs(as.numeric(x) - mean_density) < 1) {
        return("near")
    } else {
        return("far")
    }
})

# Show the results
minerals

  name         color  hardness density density_dist dist_cat
1 Quartz       Clear  7.0      2.65    1.03875      far
2 Plagioclase  White  6.0      2.71    0.97875      near
3 Orthoclase   Pink   6.0      2.54    1.14875      far
4 Biotite      Black  2.5      2.88    0.80875      near
5 Muscovite    Green  2.5      2.83    0.85875      near
6 Galena       Gray   2.5      7.50    3.81125      far
7 Sphalerite   Yellow 4.0      4.10    0.41125      near
8 Chalcopyrite Green  3.5      4.30    0.61125      near

### <span style="color:green;">5.5 Creating functions </span>

In [21]:
#05-10
# Define a function that adds the numbers of a vector
add_numbers = function(x, y) {
    addition = x + y
    return(addition)
}

# Call the function
sum_result = add_numbers(3, 5)

# View the result
print(sum_result)

[1] 8